<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mapsdemo">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <!--
 Needed only if your app makes the device discoverable to Bluetooth
         devices.
    -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <!--
 Needed only if your app communicates with already-paired Bluetooth
         devices.
    -->

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCELEROMETER" /> <!-- Needed only if your app uses Bluetooth scan results to derive physical location. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.TTS_ENGINE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapsDemo"
        tools:targetApi="31">
        <activity
            android:name=".authentication.AuthenticationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_screen.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_maps"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".map_screen.MapsActivity"
            android:label="@string/title_activity_maps" />

        <receiver
            android:name=".geofence.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".geofence.GeofenceTransitionsJobIntentService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

<!--        <service-->
<!--            android:name=".broadcastReceiver.MyAcessibilityService"-->
<!--            android:label="@string/app_name"-->
<!--            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"-->
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.accessibilityservice.AccessibilityService"/>-->
<!--            </intent-filter>-->

<!--            <meta-data-->
<!--                android:name="android.accessibilityservice"-->
<!--&lt;!&ndash;                android:resource="@xml/acessibility_service"/>&ndash;&gt;-->
<!--        </service>-->
        <receiver android:name=".broadcastReceiver.UpVoteReceiver"/>
        <receiver android:name=".broadcastReceiver.DownVoteReceiver"/>
        <receiver android:name=".broadcastReceiver.BootCompletedReceiver"
            android:exported="false">
            <intent-filter>
                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
                <action
                    android:name="android.intent.action.REBOOT"/>

            </intent-filter>
        </receiver>

    </application>

</manifest>